.ModalImage {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  transform: translate(-50%, -50%);
  z-index: 1001;
  cursor: pointer;
  background-color: white;
  padding: 50px;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
